<div class="garden-wrap" aria-hidden="true">
  <svg class="garden" viewBox="0 0 1080 90" preserveAspectRatio="xMidYMax meet">
    <path class="garden-line" d="M0,80 C 90,72 180,84 270,76 S 450,68 540,78 S 720,84 810,74 S 990,70 1080,78"/>
    <use href="#daisy" transform="translate(20,66) rotate(-8) scale(.6)"/>
    <use href="#daisy" transform="translate(95,58) rotate(9) scale(.9)"/>
    <use href="#daisy" transform="translate(180,74) rotate(-14) scale(.65)"/>
    <use href="#daisy" transform="translate(260,60) rotate(5) scale(1.05)"/>
    <use href="#daisy" transform="translate(340,70) rotate(-6) scale(.7)"/>
    <use href="#daisy" transform="translate(420,56) rotate(12) scale(.85)"/>
    <use href="#daisy" transform="translate(500,68) rotate(-10) scale(.6)"/>
    <use href="#daisy" transform="translate(580,58) rotate(8) scale(1.0)"/>
    <use href="#daisy" transform="translate(660,72) rotate(-4) scale(.72)"/>
    <use href="#daisy" transform="translate(740,60) rotate(14) scale(.9)"/>
    <use href="#daisy" transform="translate(820,70) rotate(-9) scale(.62)"/>
    <use href="#daisy" transform="translate(900,58) rotate(6) scale(1.05)"/>
    <use href="#daisy" transform="translate(980,68) rotate(-12) scale(.7)"/>
    <use href="#daisy" transform="translate(1050,60) rotate(10) scale(.85)"/>
  </svg>
</div>
